<h1>About us</h1>
<p>
  The passion for bike customization is growing, and enthusiasts seek platforms
  that offer a streamlined modification experience. Machine Mods fills this gap
  by providing a user-friendly interface where users can explore parts and
  modifications tailored to their bikes. Lack of a centralized and user-friendly
  solution for bike owners to choose and purchase compatible spare parts and
  modifications. Machine Mods enables users to create a custom version of their
  bike by selecting their bike type and browsing compatible spare parts for
  modifications.
</p>
