<body>
  <section class="cover-image">
    <video class="background-video" autoplay muted>
      <source src="assets\images\Machine Mods.mp4" type="video/mp4" />
    </video>
  </section>
  <div class="container">
    <section id="featured" class="featured">
      <div class="mod" (click)="navigateTomachinemod('mod')">
        <img src="assets/images/exhaustgt.jpg" alt="Bike Mod 1" />
        <h2>Custom Exhaust</h2>
        <p>Let your Machine scream out of happiness!!</p>
      </div>
      <div class="mod">
        <img src="assets\images\gt650led3.jpg" alt="Bike Mod 2" />
        <h2>LED Lighting</h2>
        <p>
          Add LED lights to your bike for a sleek, modern look , and improved
          visibility.
        </p>
      </div>
      <div class="mod" (click)="navigateTomachinemod('tires')">
        <img src="assets/images/performancetyre.jpg" alt="Bike mod" />
        <h2>Performance Tires</h2>
        <p>Get better grip and handling with high-performance tires.</p>
      </div>

      <div class="mod">
        <img src="assets\images\engine.jpg" alt="Bike Mod 3" />
        <h2>Genuine parts</h2>
        <p>Unleash the true power of your beast!!</p>
      </div>
      <div class="mod">
        <img src="assets/images/greengt.jpg" alt="Bike Mod 3" />
        <h2>Paint Jobs</h2>
        <p>Make your machine more beautiful with more paint work</p>
      </div>
      <div class="mod">
        <img
          src="../../../public/assets/images/greengt1.jpg"
          alt="Bike Mod 3"
        />
        <h2>Paint Jobs</h2>
        <p>Make your machine more beautiful with more paint work</p>
      </div>
    </section>
  </div>
  <div class="container">
    <section id="gallery" class="gallery">
      <h2>Modification Gallery</h2>
      <div class="gallery img">
        <img src="assets\images\performancetyre.jpg" alt="Modification 1" />
        <img src="assets\images\1gt650.jpg" alt="Modification 2" />
        <img src="assets\images\performancetyre.jpg" alt="Modification 3" />
        <img src="assets\images\performancetyre.jpg" alt="Modification 4" />
        <img src="assets\images\performancetyre.jpg" alt="Modification 5" />
        <img src="assets\images\performancetyre.jpg" alt="Modification 6" />
      </div>
    </section>
  </div>

  <footer>
    <p>&copy; 2024 Machine Mods. All rights reserved.</p>
  </footer>
</body>
