<header>
  <h1><strong>Machine Mods</strong></h1>
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta name="HandledFriendly" content="true" />
</header>

<nav>
  <a href="#featured">Featured Mods</a>
  <a href="#gallery">Gallery</a>
  <a href="#Versatile Paints">Versatile Paints</a>
  <a href="#Recommended">Recommended</a>
  <a href="#Accessories">Accessories</a>
  <a href="#Gear">Gear</a>
  <a routerLink="/app-about">About</a>
  <a href="#contact">Contact</a>
</nav>
<app-machinemod></app-machinemod>
<app-contact></app-contact>
<router-outlet></router-outlet>
